@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

/* 
.bubble::after {
    z-index: -1;
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
    background-color: #0e1116;

} */

h1, h2, h3, h4 {
  font-family: 'Major Mono Display', monospace;
}

 section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 400px;
        padding-top: 100px;
        
        
      }

      .blue {
        background: #3c31dd;
      }

      .red {
        background: #dd3f31;
      }

      .pink {
        background: #ff0066;
        overflow: hidden;
      }

      .dark {
        background: #0f0f10;
        background-image: url(../Assets/photo-1534796636912-3b95b3ab5986.jfif);
        min-height: 200px;
        padding-top: 70px;
        
      }

      .informacion {
        background: #151528;
        box-shadow: 0px -10px 30px 0px rgba(0, 0, 0, 0.8);
        
      }

      .sectionBotones {
        background-color: #0f0f10;
         padding-bottom: 100px;
      }

      .buttonTelescopios {
        height: 500px;
        background: linear-gradient(45deg,#00000085,#00ffaa88) , url(../Assets/telescopioBoton.jpg);
        background-position: center ;
        background-size:cover;
         transition: all .3s ease-in-out; 
      }

      .buttonAccesorios {
        height: 500px;
        background: linear-gradient(45deg,#00000085,#0015ff88) , url(../Assets/accesoriosBoton.jpeg);
        background-position: center ;
        background-size:cover;
         transition: all .3s ease-in-out; 
      }

      .buttonInformacion {
        height: 500px;
        background: linear-gradient(45deg,#00000085,#e600ff88) , url(../Assets/informacionBoton.jpg);
        background-position: center ;
        background-size:cover;
         transition:  all .3s ease-in-out; 
      }

      .buttonInformacion:hover , .buttonAccesorios:hover,  .buttonTelescopios:hover {
          transform: scale(1.05);
      }

      

      /* Curved bg with plain CSS */

      .curve {
        position: absolute;
        height: 250px;
        width: 100%;
        bottom: 0;
        text-align: center;
      }

      .curve::before {
        content: '';
        display: block;
        position: absolute;
        border-radius: 100% 50%;
        width: 55%;
        height: 100%;
        transform: translate(85%, 60%);
        background-color: hsl(216, 21%, 16%);
      }

      .curve::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 100% 50%;
        width: 55%;
        height: 100%;
        background-color: #3c31dd;
        transform: translate(-4%, 40%);
        z-index: -1;
      }

      /* Bubble bg with plain CSS */

      .bubble::after {
        content: '';
        border-top-left-radius: 50% 100%;
        border-top-right-radius: 50% 100%;
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 100%;
        background-color: #0f0f10;
        box-shadow: 0px 10px 10px 0px black inset;
        height: 150%;
        background-image: url(../Assets/photo-1534796636912-3b95b3ab5986.jfif);
      }

      /* Curved bg with SVG via https://www.shapedivider.app/ */

      .wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
      }

      .wave svg {
        position: relative;
        display: block;
        width: calc(103% + 1.3px);
        height: 262px;
      }

      .wave .shape-fill {
        fill: hsl(240, 3%, 6%);
      }

      /* SVG background image via https://haikei.app/ */

      .spacer {
        aspect-ratio: 960/300;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }


      .flip {
        transform: rotate(180deg);
      }

      /* Blobs SVG background image via https://haikei.app/ */

