.scroll {
    overflow-x: auto;
    overscroll-behavior-inline: contain;
   background-color: rgba(214, 214, 214, 0.384);
   border-radius: 10px;
}

.colortest {
    background-color: rgb(255, 255, 255);
    position: relative;
}